---
applications:
- name: notify-template-preview

  memory: 2G
  disk_quota: 2G

  services:
    - logit-ssl-syslog-drain

  routes:
    - route: {{ environment }}-notify-template-preview.cloudapps.digital

  health-check-type: http
  health-check-http-endpoint: '/_status?simple=true'

  env:
    FLASK_APP: application.py
    NOTIFY_ENVIRONMENT: {{ environment }}

    NOTIFY_APP_NAME: template-preview
    NOTIFY_LOG_PATH: /home/vcap/logs/app.log

    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}

    TEMPLATE_PREVIEW_API_KEY: {{ TEMPLATE_PREVIEW_API_KEY }}

    STATSD_ENABLED: 1
    STATSD_HOST: 'notify-statsd-exporter-{{ environment }}.apps.internal'
