#app requirements
boto3==1.24.46
celery[sqs]==5.2.7
jsonschema==4.9.1
Flask==2.2.1
Flask-WeasyPrint==0.6
Flask-HTTPAuth==4.7.0
Werkzeug==2.2.1

# pdf libraries
html5lib==1.1
wand==0.6.9
pypdf2==2.10.0
reportlab==3.6.3
pdf2image==1.12.1
PyMuPDF==1.19.6
WeasyPrint==51

git+https://github.com/alphagov/notifications-utils.git@56.0.0

# PaaS requirements
gunicorn==20.1.0
awscli-cwlogs>=1.4.6
