# WARNING
# if you change this file, YOU SHOULD UPDATE THE DOCKERFILE
# otherwise it'll redownload your change every time you rebuild


# app requirements
Flask==0.12.2
Flask-WeasyPrint==0.5
Flask-HTTPAuth==3.2.3
html5lib==1.0b10
wand==0.4.4
jsonschema==2.6.0

git+https://github.com/alphagov/notifications-utils.git@17.5.7#egg=notifications-utils==17.5.7

# PaaS requirements
gunicorn==19.7.1
# awscli>=1.11,<1.12
# awscli-cwlogs>=1.4,<1.5
