# app requirements
CairoSVG==2.4.2
Flask==1.1.1
Flask-WeasyPrint==0.6
Flask-HTTPAuth==3.3.0
html5lib==1.0.1
wand==0.5.7
jsonschema==3.1.1
pypdf2==1.26.0
Pillow==6.2.0
reportlab==3.5.31
pdf2image==0.1.14
PyMuPDF==1.16.1
Werkzeug==0.14.1  # pyup: < 0.15.0
pdfrw==0.4
defusedxml==0.6.0


# weasyprint 0.41 has errors where png previews of PDFs randomly do not render all images
# weasyprint 0.42 has errors where it gets stuck in an infinite loop and we had to kill jenkins after 7 hrs
WeasyPrint==0.40  # pyup: != 0.41, != 0.42

git+https://github.com/alphagov/notifications-utils.git@35.0.0#egg=notifications-utils==35.0.0

# PaaS requirements
gunicorn==19.9.0
awscli-cwlogs>=1.4,<1.5
