#app requirements
boto3==1.21.32
celery[sqs]==5.2.5
Flask==2.1.1
Flask-WeasyPrint==0.6
Flask-HTTPAuth==4.5.0
Werkzeug==2.1.1

# pdf libraries
html5lib==1.1
wand==0.6.7
jsonschema==3.2.0
pypdf2==1.26.0
reportlab==3.6.3
pdf2image==1.12.1
PyMuPDF==1.19.6
defusedxml==0.6.0
WeasyPrint==51

git+https://github.com/alphagov/notifications-utils.git@53.0.0#egg=notifications-utils==53.0.0

# PaaS requirements
gunicorn==20.1.0
awscli-cwlogs>=1.4.6
