-r requirements.txt
isort==5.10.1
flake8==5.0.4
flake8-print==5.0.0
freezegun==1.2.2
jinja2-cli[yaml]==0.8.2
moto[s3]==4.0.9
pytest-env==0.8.1
pytest-mock==3.10.0
pytest==7.2.0
pytest-xdist==2.5.0
requests-mock==1.10.0
pdbpp==0.10.3
black==22.8.0
