# WARNING
# if you change this file, YOU SHOULD UPDATE THE DOCKERFILE
# otherwise it'll redownload your change every time you rebuild


# app requirements
Flask==0.12.2
Flask-WeasyPrint==0.5
Flask-HTTPAuth==3.2.3
html5lib==1.0.1
wand==0.4.4
jsonschema==2.6.0
numpy==1.13.3
PyYAML==3.12

git+https://github.com/alphagov/notifications-utils.git@23.1.0#egg=notifications-utils==23.1.0

# PaaS requirements
gunicorn==19.7.1
# awscli>=1.11,<1.12
# awscli-cwlogs>=1.4,<1.5
